$wrapper-max-width: 1600px;
$wrapper-min-width: 1280px;
$border-style-default: solid 1px gray;
$border-style-menu: 1px solid #d8d8d8;
$border-style-inner: solid 1px lightgray;
$border-style-candidate: 1px solid whitesmoke;
$border-style-btn: solid 1px #0f9ada;
$link-color: rgb(68, 68, 219);
$link-color-hover: orange;
$link-color-content: rgb(66, 66, 66);
$color-btn: #03A9F4;
$color-rate: rgb(230, 0, 0);
$fSize-h2: 24px;
$fSize-default: 16px;
$fSize-content: 12px;
$shadow-content: 0 0 4px lightgray;
// $header-height: ;
$hover-opacity: 0.8;
$menu-color-white: white;
$menu-color-gray: gray;