$wrapper-max-width: 1600px;
$wrapper-min-width: 1280px;
$menu-color-white: white;
$menu-color-gray: gray;
$menu-color-whitesmoke: whitesmoke;
$border-style-default: solid 1px gray;
$border-style-menu: 1px solid #d8d8d8;
$border-style-inner: solid 1px lightgray;
$border-style-candidate: 1px solid whitesmoke;
$border-style-btn: solid 1px #0f9ada;
$border-style-hover: solid 1px orange;
$border-style-buy: solid 1px cornflowerblue;
$border-style-sell: solid 1px goldenrod;
$border-style-orNot: solid 1px whitesmoke;
$border-style-option: solid 2px gray;
$border-style-field: solid 3px white;
$link-color: rgb(68, 68, 219);
$link-color-hover: orange;
$link-color-content: rgb(66, 66, 66);
$color-default: black;
$color-no-action: gray;
$color-action: orange;
$color-btn: #03A9F4;
$color-rate: rgb(230, 0, 0);
$color-error: #d65f4c;
$color-buy: cornflowerblue;
$color-sell: goldenrod;
$color-area-back: ivory;
$fSize-h2: 24px;
$fSize-default: 16px;
$fSize-h5: 14px;
$fSize-content: 12px;
$shadow-content: 0 0 4px lightgray;
$shadow-menu: 1px 2px 5px rgba(0,0,0,0.1);
$shadow-btn-box: inset 0 1px 0 rgba(255,255,255,0.2);
$shadow-btn-text: 0 1px 0 rgba(0,0,0,0.2);
$hover-opacity: 0.8;