.top-main
  .search-area
    %h2.search-area__title
      エリアから探す
    .search-area__area
      .selected-area
        .selected-area__name
          東京
        .selected-area__store-count
          722件
      %ul.top-areas
        %li.top-area
          .top-area__name
            下北沢
          .top-area__store-count
            112件
        %li.top-area
          .top-area__name
            原宿
          .top-area__store-count
            98件
        %li.top-area
          .top-area__name
            高円寺
          .top-area__store-count
            74件
        %li.top-area
          .top-area__name
            渋谷
          .top-area__store-count
            37件
        %li.top-area
          .top-area__name
            表参道
          .top-area__store-count
            35件
      %ul.area-list.clearfix
        %li.all-area
          下北沢
        %li.all-area
          渋谷
        %li.all-area
          原宿
        %li.all-area
          吉祥寺・三鷹
        %li.all-area
          高円寺
        %li.all-area
          池袋・高田馬場
        %li.all-area
          新宿・代々木・大久保
        %li.all-area
          恵比寿
        %li.all-area
          代官山
        %li.all-area
          表参道
  .search-genre
    %h2.search-genre__title
      ジャンルから探す
    .search-genre__area
      %ul.top-genres
        %li.top-genre
          %img{src: "/assets/genre-m-mode.jpg", class: "top-genre__img", alt: "genre image1"}
          .top-genre__name
            モード
          .top-genre__store-count
            127件
        %li.top-genre
          %img{src: "/assets/genre-m-kirecaj.jpg", class: "top-genre__img", alt: "genre image2"}
          .top-genre__name
            キレカジ
          .top-genre__store-count
            101件
        %li.top-genre
          %img{src: "/assets/genre-m-street.jpg", class: "top-genre__img", alt: "genre image3"}
          .top-genre__name
            ストリート
          .top-genre__store-count
            86件
      %ul.genre-list.clearfix
        %li.all-genre
          アメカジ
        %li.all-genre
          スポーティ
        %li.all-genre
          ロック
        %li.all-genre
          トラッド
        %li.all-genre
          フォーマル
        %li.all-genre
          原宿系
        %li.all-genre
          サーフ
    .search-genre__all
      = link_to 'ジャンル一覧へ', "#", class: 'genre-all-link'
  .search-brand
    %h2.search-brand__title ブランドから探す
    .search-brand__area
      %ul.top-brands
        %li.top-brand
          %img{src: "/assets/brand-yohjiyamamoto.jpg", class: "top-brand__img", alt: "brand image1"}
        %li.top-brand
          %img{src: "/assets/brand-maisonmargiela.png", class: "top-brand__img", alt: "brand image1"}
        %li.top-brand
          %img{src: "/assets/brand-isseymiyakemen.jpg", class: "top-brand__img", alt: "brand image1"}
      %ul.brand-list.clearfix
        %li.all-brand
          Acne STUDIOUS
        %li.all-brand
          UNDERCOVER
        %li.all-brand
          MAISON KITSUNE
        %li.all-brand
          MARNI
        %li.all-brand
          HOMME PLISSÉ ISSEY MIYAKE
        %li.all-brand
          COMOLI
        %li.all-brand
          AURALEE
        %li.all-brand
          SUN SEA
        %li.all-brand
          UNUSED
        %li.all-brand
          Hender Scheme
        %li.all-brand
          KENZO
        %li.all-brand
          BALENCIAGA
        %li.all-brand
          MARGARET HOWELL
        %li.all-brand
          COMME des GARCONS
        %li.all-brand
          Raf Simons
        %li.all-brand
          lucien pellat-finet
        %li.all-brand
          ANN DEMEULEMEESTER
        %li.all-brand
          Y-3
    .search-brand__all
      = link_to 'ブランド一覧へ', "#", class: 'brand-all-link'

