.items_wrapper {
  height: 100%;
  padding: 24px;
  .no_register {
    color: $color_no_action;
    font-size: $fSize_content;
  }
  .brands_area {
    &__heading {
      position: relative;
      padding-left: 8px;
      margin-bottom: 12px;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        content: '';
        background-color: $color_no_action;
      }
    }
  }
  .items_area {
    padding: 24px 0;
    &__heading {
      position: relative;
      padding-left: 8px;
      margin-bottom: 12px;
      &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 3px;
        content: '';
        background-color: $color_no_action;
      }
    }
    &__list {
      display: flex;
      & a {
        color: $color_default;
        text-decoration: none;
      }
      &__item {
        max-width: 180px;
        margin: 0 8px;
        border: $border_style_menu;
        box-shadow: $shadow_content;
        &:hover {
          opacity: $hover_opacity;
        }
        &__image {
          & img {
            width: 180px;
            height: 180px;
            object-fit: cover;  
          }
        }
        &__info {
          padding: 0 12px;
          font-size: $fSize_h5;
          &--price {
            margin: 8px 0;
          }
        }
        &__action {
          @include up-down-center;
          justify-content: flex-end;
          padding: 12px;
          font-size: $fSize_content;
          &--option {
            margin: 0 4px;
            & a {
              color: $color_no_action;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .item_post {
    margin-bottom: 24px;
    text-align: center;
    &__btn {
      padding: 1em 2em;
      border: $border_style_btn;
      border-radius: 4px;
      box-shadow: $shadow_btn_box;
      background: $color_btn;
      color: #FFF;
      font-size: $fSize_content;
      text-decoration: none;
      text-shadow: $shadow_btn_text;
    }
  }

  // show
  .item_box {
    display: flex;
    &__left {
      width: 50%;
      min-width: 432px;
      margin-right: 24px;
      &__image_container {
        margin: 0 24px;
        &__slider {
          display: flex;
          align-items: center;
          width: 432px;
          padding: 0 12px;
          background-color: $menu_color_whitesmoke;
          font-size: 60px;
          color: lightgray;
          & .slick-list {
            margin: 0 auto;
          }
          &__box {
            @include up-down-center;
            margin: 0 auto;
            &:focus {
              outline: none;
              border: none;
            }
            & img {
              margin: 0 auto;
              width: 324px;
              max-height: 320px;
              object-fit: contain;  
              cursor: pointer;
            }
          }
        }
        &__thumb {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          width: 432px;
          background-color: $menu_color_whitesmoke;
          &__box {
            position: relative;
            width: 108px;
            height: 108px;
            cursor: pointer;
            &:after{
              content:'';
              background-color: rgba(0,0,0,0.5);
              position:absolute;
              display: block;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              opacity: 1;
              transition: .3s opacity linear;
            }
            &.thumbnail-current:after{
              opacity: 0;
            }
            & img {
              width: 108px;
              height: 108px;
              object-fit: cover;
            }
          }
        }
      }
    }
    &__right {
      width: 50%;
      padding: 0 24px;
      &__heading {
        @include up-down-center;
        justify-content: space-between;
        margin-bottom: 8px;
        &__item_name {
          font-size: $fSize_h3;
        }
        &__action {
          @include up-down-center;
          &--option {
            font-size: $fSize_h5;
            margin: 0 4px;
            & a {
              color: $color_no_action;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      &__price {
        margin-bottom: 24px;
        &--body {
          font-size: $fSize_h2;
        }
      }
      &__detail {
        &__title {
          @include up-down-center;
          margin-bottom: 24px;
          border-bottom: $border_style_default;
          &--tab {
            min-width: 120px;
            width: 40%;
            height: 56px;
            margin-bottom: -1px;
            padding: 16px 0;
            border-radius: 3px 3px 0 0;
            text-align: center;
            color: $link_color;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
          .selected_tab {
            background-color: white;
            border: $border_style_default;
            border-bottom: none;
            color: $color_default;
            &:hover {
              text-decoration: none;
            }
          }
        }
        &__box {
          display: none;
          &--top {
            margin-bottom: 12px;
          }  
        }
        .active_box {
          display: block;
        }
      }
    }
  }
}
#item-modal__content {
  position: fixed;
  top: calc(50% - 640px/2);
  left: calc(50% - 720px/2);
  width: 720px;
  height: 640px;
  border-radius: 10px;
  background-color: white;
  z-index: 100;
  .item-modal__times {
    padding: 24px;
    text-align: right;
    .fa-times {
      cursor: pointer;
    }
  }
  .item-modal__slider {
    position: relative;
    padding-bottom: 24px;
    font-size: 60px;
    .slick-arrow {
      position: absolute;
      top: 40%;
      cursor: pointer;
    }
    .arrow-right {
      position: absolute;
      right: 2%;
      z-index: 100;
    }
    .arrow-left {
      position: absolute;
      left: 2%;
      z-index: 100;
    }
    &__box {
      display: flex;
      &:focus {
        outline: none;
        border: none;
      }
      & img {
        display: block;
        margin: 0 auto;
        height: 520px;
        object-fit: contain;
      }  
    }
  }
}
#item-modal__overlay {
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
