.account-page {
  .field {
    margin-bottom: 10px;

    .field-label {
      margin-right: 24px;
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 200;

      i {
        font-size: $fSize-content;
      }
    }

    .field-input {
      font-size: $fSize-content;
      input {
        width: 100%;
        padding: 4px 8px;
        letter-spacing: 1px;
      }
      .text-area {
        width: 100%;
        height: 7em;
        padding: 4px;
      }
    }
  }

  .user-cover {
    overflow: hidden;
  }
  #user-cover-img-prev {
    overflow: hidden;
    height: 60px;
    width: 100%;
    object-fit: cover;
    -ms-filter: blur(6px);
    filter: blur(6px);
  }

  .btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 2px;
    letter-spacing: 1px;
    text-align: center;
  }

  input[type='submit'] {
    float: left;
    margin-top: 20px;
    background-color: $color-btn;
    color: #fff;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: $color-error;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: $color-error;
      }
    }
  }
  .account-page__inner {
    margin: 60px auto;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;

    .account-page__inner--left, .account-page__inner--right {
      float: left;
      width: 50%;
    }
    &:after {
      display: block;
      clear: both;
      content: "";
    }
    .user-delete-link {
      height: 50px;
      margin-top: 20px;
      text-align: right;
    }
  }

  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 24px;
      font-weight: 200;

      &:after {
        display: block;
        width: 60px;
        margin-top: 5px;
        border-bottom: $border-style-btn;
        content: '';
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: $fSize-h5;
      font-weight: 200;
    }

    .btn {
      margin-top: 20px;
      color: #fff;
      background-color: #ccc;
      font-size: $fSize-h5;
    }

    .test-login {
      margin-top: 20px;
      font-size: $fSize-h5;
      &__btn {
        margin-top: 0;
        border: none;
        background-color: white;
        color: $link-color;
        &:hover {
          color: $link-color-hover;
          cursor: pointer;
        }
      }
    }
  }
}

.user-wrap {
  margin-bottom: 24px;
  .user-header-line {
    position: absolute;
    left: 0;
    width: 100%;
    min-width: $wrapper-min-width;
    border-top: $border-style-default;
    overflow: hidden;
  }
  .user-header {
    height: 128px;
    &__cover {
      width: 100%;
      height: 50%;
      background-color: white;
      overflow: hidden;
      .cover-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -ms-filter: blur(6px);
        filter: blur(6px);
      }
    }
    &__content {
      @include  up-down-center;
      position: relative;
      height: 50%;
      padding-left: 16px;
      .user-img-form {
        position: absolute;
        margin-top: -30px;
        .edit_user {
          position: relative;
          &:hover {
            .delete-img-btn {
              opacity: $hover-opacity;
            }
          }
        .delete-img-btn {
            position: absolute;
            top: 6px;
            right: 6px;
            z-index: 2;
            opacity: 0;
            &:hover {
              opacity: 1;
            }
          }  
        }
        .user-icon {
          @include up-down-center;
          width: 98px;
          height: 98px;
          padding: 4px;
          border: $border-style-inner;
          border-radius: 6px;
          cursor: pointer;
          .user-icon-img {
            position: relative;
            width: 88px;
            height: 88px;
            object-fit: cover;
            margin: 0 auto;
            border-radius: 4px;
          }
        }
        .img-field {
          display: none;
        }
      }
      .content-wrap{
        @include  up-down-center;
        justify-content: space-between;
        width: 100%;
        margin-left: 128px;
        .user-name {
          font-weight: bold;
        }
        .user-nav-bar {
          @include  up-down-center;
          .user-nav {
            @include  up-down-center;
            position: relative;
            width: 96px;
            height: 64px;
            cursor: pointer;
            &:before {
              content: '';
              display: inline-block;
              position: absolute;
              top: 50%;
              right: -1px;
              height: 2.2em;/*線の太さ*/
              width: 1px;/*線の長さ*/
              margin-top: -1.1em;
              background-color: lightgray;/*線の色*/
            }
            .user-nav-link {
              @include  up-down-center;
              width: 96px;
              height: 64px;
              color: gray; 
              font-size: $fSize-h5;
              text-align: center;
            & a {
                vertical-align: middle;
                color: gray;
                text-decoration: none;
              }
              .user-nav-name {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
              }
            }
            &:hover {
              background-color: whitesmoke;
              &:before {
                width: 0px;
              }
              &:after {
                width: 0px;
              }
            }
            &:hover a {
              color: $link-color-hover;
            }
          }
          .first-nav {
            &:after {
              content: '';
              position: absolute;
              top: 50%;
              left: 1px;
              display: inline-block;
              width: 1px;/*線の長さ*/
              height: 2.2em;/*線の太さ*/
              margin-top: -1.1em;
              background-color: lightgray;/*線の色*/
            }
          }
        }    
      }
    }
  }
  .user-body {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin: 32px 0;
    padding: 32px 32px;
    background-color: oldlace;
    .user-self-intro {
      width: 60%;
      height: 240px;
      padding: 16px;
      border: $border-style-inner;
      background-color: white;
      white-space: pre-wrap;
    }
    .user-action-info {
      width: 32%;
      padding: 16px;
      border: $border-style-inner;
      background-color: white;
      font-size: 12px;
      .user-action-wrap {
        @include  up-down-center;
        justify-content: space-between;
        position: relative;
        height: 36px;
        border-bottom: dotted 1px lightgray;
      }
    }
  }
}
.devise-alert {  
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 4px;
  background-color: mistyrose;
  color: $color-error;
  font-size: 12px;
  .error-close-btn {
    cursor: pointer;
  }
}

#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
 
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: image-url('loading.gif') center center no-repeat;
}