.woms-wrapper{
  padding: 0 24px;
  .woms-post-btn {
    margin: 24px 0;
    text-align: center;
    .post-btn{
      width: 120px;
      height: 40px;
      padding: 1em 2em;
      border: $border_style_btn;
      border-radius: 4px;
      box-shadow: $shadow_btn_box;
      background: $color_btn;
      color: #FFF;
      font-size: $fSize_content;
      text-decoration: none;
      text-shadow: $shadow_btn_text;
    }
  }
  .woms-search-form {
    border: $border_style_inner;
    background-color: $menu_color_whitesmoke;
    font-size: $fSize_content;
    .search-form-title {
      padding: 8px 16px;
    }
    .search-menu {
      display: flex;
      justify-content: center;
      li {
        @include up-down-center;
        height: 48px;
        width: 24%;
        border-top: $border_style_inner;
        border-right: $border_style_inner;
        .wom-type {
          width: 100%;
          margin: 0 auto;
          .wom-search-form {
            .wom-search-btn {
              width: 100%;
              height: 48px;
              border: none;
              outline: none;
              background: none;
              cursor: pointer;
            }  
          }
        } 
      }
      .first-type {
        border-left: $border_style_inner;
        &:hover {
          border-top: $border_style_hover;
          & span {
            color: $color_action;
          }
        }
      }
      .buy-type {
        &:hover {
          border-top: $border_style_buy;
          & span {
            color: $color_buy;
          }
        }
      }
      .sell-type {
        &:hover {
          border-top: $border_style_sell;
          & span {
            color: $color_sell;
          }
        } 
      }
      .selected-all {
        background-color: white;
        border-top: $border_style_hover;
      & span {
          color: $color_action;
        }
      }
      .selected-buy {
        background-color: white;
        border-top: $border_style_buy;
      & span {
          color: $color_buy;
        }
      }
      .selected-sell {
        background-color: white;
        border-top: $border_style_sell;
      & span {
          color: $color_sell;
        }
      }
    }
  }
  .woms-paginate {
    @include up-down-center;
    justify-content: space-between;
    margin-top: 12px;
    font-size: $fSize_content;
    .woms-count {
      .num {
        font-size: $fSize_default;
      }
    }
  }
  .woms-list {
    .woms-box {
      margin: 16px 0;
      border: $border_style_inner;
      border-radius: 6px;
      &__wom-info {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        .user-info {
          display: flex;
          .user-icon-img {
            width: 36px;
            height: 36px;
            object-fit: cover;
            margin-right: 8px;
            border-radius: 4px;
          }
          .user-name {
            font-size: $fSize_content;
            a {
              color: gray;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
        .user-action {
          font-size: $fSize_content;
          a {
            color: $color_no_action;
            text-decoration: none;
          }
        }
      }
      &__rate {
        padding: 0 12px;
        border-bottom: $border_style_orNot;
        .rate-container {
          display: flex;
          padding: 8px 0;
          border-top: $border_style_orNot;
          font-size: 20px;
          .star-rating {
            margin-left: 12px;
          }
          .wom-rate {
            margin-left: 8px;
            color: $color_rate;
            font-weight: bold;
          }
        }
      }
      &__body {
        padding: 12px;
        .content-visit-date {
          margin-bottom: 8px;
          font-size: $fSize_content;
        }
        .content-title {
          display: inline-block;
          margin-bottom: 16px;
          border-bottom: dotted 1px black;
          font-size: 20px;
        }
        .content-text {
          white-space: pre-wrap;
        }
      }
    }
  }
  .pagination {
    font-size: $fSize_content;
    text-align: right;
  }
}
.fa-tshirt {
  color: $color_buy;
}
.fa-yen-sign {
  color: $color_sell;
}

//投稿ページ
.wom-post-form {
  padding: 0 24px;
  .form-box {
    border: $border_style_inner;
    .wom-form-header {
      height: 4vh;
      padding: 4px 8px;
      border-bottom: $border_style_inner;
      background-color: $menu_color_whitesmoke;
      .form-title {
        margin-left: 16px;
        font-size: $fSize_content;
      }
    }
    .wom-form-body {
      margin: 0 24px;
      text-align: center;
      .visit-type-select {
        padding: 16px 0;
        border-bottom: $border_style_inner;
        .select-msg {
          margin-bottom: 8px;
          font-size: $fSize_content;
        }
        .select-form {
          @include up-down-center;
          justify-content: center;
          .select-box {
            margin: 0px 8px;
            #visit-type-buy {
              display: none;
            }
            #visit-type-sell {
              display: none;
            }
            .radio-btn-buy {
              &:checked + .select-box__buy {
                border: 2px solid $color_buy;
                color: $color_buy;
              }
            }
            .radio-btn-sell {
              &:checked + .select-box__sell {
                border: 2px solid $color_sell;
                color: $color_sell;
              }
            }
            &__buy {
              display: inline-block;
              width: 80px;
              padding: 4px;
              border: $border_style_option;
              border-radius: 4px;
              .btn-label {
                cursor: pointer;
                &::after {
                  display: block;
                  content: '購入';
                }
              }
            }
            &__sell {
              display: inline-block;
              width: 80px;
              margin: 0px 4px;
              padding: 4px;
              border: $border_style_option;
              border-radius: 4px;
              .btn-label {
                cursor: pointer;
                &::after {
                  display: block;
                  content: '売却';
                }
              }
            }
          }
        }
      }
      .input-rate {
        padding: 8px 0;
      }
      .wom-title {
        margin-bottom: 8px;
        .wom-title-field {
          width: 100%;
          height: 48px;
          padding: 0 4px;
          border-radius: 4px;
          border: $border_style_field;
          outline: none;
          font-size: 18px;
          &:focus {
            border: solid 3px $color_buy;
            box-shadow: 0 0 3px $color_buy;
          }
        }
      }
      .wom-content {
        .wom-content-field {
          font-size: $fSize_content;
          width: 100%;
          height: 160px;
          padding: 4px 4px;
          border-radius: 4px;
          border: $border_style_field;
          outline: none;
          &:focus {
            border: solid 3px $color_buy;
            box-shadow: 0 0 3px $color_buy;
          }
        }
      }
    }
    .wom-form-footer {
      @include up-down-center;
      width: 100%;
      height: 8vh;
      padding: 0 24px;
      border-radius: 0 0 6px 6px;
      background-color: ivory;
      .visit-date {
        font-size: $fSize_content;
      }
      .send-btn {
        margin-left: 22%;
        .wom-send-btn {
          width: 120px;
          height: 40px;
          padding: 0.25em 0.5em;
          border: $border_style_btn;
          border-radius: 4px;
          color: #FFF;
          font-size: $fSize_content;
          box-shadow: $shadow_btn_box;
          background: $color_btn;
          text-decoration: none;
          text-shadow: $shadow_btn_text;
        }  
      }
    }
  }
}
.alert-warning {
  width: 50%;
  padding: 12px 0 12px 56px;
  margin: 12px auto;
  border: solid 1px beige;
  background-color: ivory;
  color: $color_error;
  text-align: left;
  ul {
    list-style-type: disc;
  }  
}