// Shop一覧
.shop-list {
  padding-top: 24px;
  .shop {
    &:hover a .top-info__name {
      text-decoration: underline;
      color: orange;
    }
    &:hover div .bottom-info-left__top-cover {
      border: solid 1px orange;
    }
    .top-info {
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      border-top: solid 2px gray;
      border-bottom: solid 1px gray;
      padding: 0 16px;
      &__name {
        font-weight: bold;
      }
      &__area-genre {
        margin-left: 12px;
        font-size: 12px;
        color: black;
      }
      &__action {
        color: orange;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        .action-icon {
          height: 32px;
          width: 48px;
          text-align: center;
          line-height: 36px;
        }
        .action-icon-left {
          border-right: solid 1px lightgray;
        }
      }
    }
    .bottom-info {
      padding: 16px;
      display: flex;
      color: black;
      .bottom-info-left {
        &__top-cover {
          width: 146px;
          height: 146px;
          padding: 4px;
          border: solid 1px gray;
          .top-cover-img {
            object-fit: cover;
            width: 136px;
            height: 136px;
            margin: 0 auto;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        &__items {
          display: flex;
          margin-top: 4px;
          .cover-item {
            margin-right: 6px;
            .cover-item-img {
              object-fit: cover;
              width: 32px;
              height: 32px;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .bottom-info-right {
        font-size: 12px;
        padding: 8px 16px;
        &__overview {
          height: 32px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        &__rating {
          padding: 8px 0;
          display: flex;
          align-items: center;
          .shop-star-rating {
            position: relative;
            display: inline-block;
            font-size: 24px;
            .filled-star {
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              color: #ffcc33;
              white-space: nowrap;
            }
            .empty-star {
              color: #ccc;
            }
          }
          .shop-rating {
            font-size: 20px;
            font-weight: bold;
            margin: 0 8px;
          }
          .shop-wom-count {
            margin-left: 8px;
            color: gray;
            text-decoration: underline;
            i {
              margin-right: 4px;
            }
          }
        }
        &__top-wom {
          background-color: floralwhite;
          padding: 12px;
          .wom-info {
            display: flex;
            &__title {
              border-bottom: dotted 1px;
              font-weight: bold;
              margin-right: 8px;
            }
            &__user {
              color: gray;
              font-size: 9px;
            }
          }
          .wom-content {
            color: gray;
            padding: 8px 0;
          }
        }
      }
    }
  }
  & a {
    text-decoration: none;
    // &:hover {
    //   color: orange;
    // }
  }
}
// Shop詳細
.action-modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.action-modal {
  position: absolute;
  background-color: #fff;
  width: 50%;
  height: 72vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 100px auto 0;
  border: 1px solid #eee;
  border-radius: 6px;
  display: none;
  .wom-form {
    display: none;
    .wom-form-header {
      background-color: lightgray;
      height: 4vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 8px;
      .modal-title {
        margin-left: 16px;
        font-size: 12px;
      }
      .modal-times {
        cursor: pointer;
        color: gray;
        display: block;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .wom-form-body {
      height: 60vh;
      text-align: center;
      margin: 0 24px;
      .shop-name {
        padding: 12px 0;
        font-size: 16px;
        font-weight: bold;
      }
      .visit-type-select {
        padding: 16px 0;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
        .select-msg {
          font-size: 12px;
          margin-bottom: 8px;
        }
        .select-form {
          display: flex;
          justify-content: center;
          .select-box {
            margin: 0px 8px;
            #visit-type-buy {
              display: none;
            }
            #visit-type-sell {
              display: none;
            }
            .radio-btn-buy {
              &:checked + .select-box__buy {
                border: 2px solid orange;
                color: orange;
              }
            }
            .radio-btn-sell {
              &:checked + .select-box__sell {
                border: 2px solid orange;
                color: orange;
              }
            }
            &__buy {
              border: 2px solid gray;
              display: inline-block;
              padding: 4px;
              width: 80px;
              border-radius: 4px;
              .btn-label {
                cursor: pointer;
                &::after {
                  display: block;
                  content: '購入';
                }
              }
            }
            &__sell {
              margin: 0px 4px;
              display: inline-block;
              padding: 4px;
              width: 80px;
              border: 2px solid gray;
              border-radius: 4px;
              .btn-label {
                cursor: pointer;
                &:hover {

                }
                &::after {
                  display: block;
                  content: '売却';
                }
              }
            }
          }
        }
      }
      .input-rate {
        padding: 8px 0;
      }
      .wom-title {
        margin-bottom: 8px;
        .wom-title-field {
          color: lightgray;
          font-size: 18px;
          width: 100%;
          height: 48px;
          padding: 0 4px;
          border-radius: 4px;
          border: solid 3px white;
          outline: none;
          &:focus {
            border: solid 3px cornflowerblue;
            box-shadow: 0 0 3px cornflowerblue;
          }
        }
      }
      .wom-content {
        .wom-content-field {
          font-size: 12px;
          width: 100%;
          height: 160px;
          padding: 4px 4px;
          border-radius: 4px;
          border: solid 3px white;
          outline: none;
          &:focus {
            border: solid 3px cornflowerblue;
            box-shadow: 0 0 3px cornflowerblue;
          }
        }
      }
    }
    .wom-form-footer {
      height: 8vh;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: ivory;
      border-radius: 0 0 6px 6px;
      padding: 0 24px;
      position: absolute;
      .visit-date {
        font-size: 12px;
      }
      .send-btn {
        margin-left: 88px;
        .wom-send-btn {
          width: 120px;
          height: 40px;
          font-size: 12px;
          padding: 0.25em 0.5em;
          text-decoration: none;
          color: #FFF;
          background: #03A9F4;/*色*/
          border: solid 1px #0f9ada;/*線色*/
          border-radius: 4px;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
          text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        }  
      }
    }
  }
  .bookmark-notif {
    display: none;
    text-align: center;
    .bookmark-notif-header {
      background-color: lightgray;
      height: 4vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 8px;  
      .modal-title {
        margin-left: 16px;
        font-size: 12px;
      }
      .modal-times {
        cursor: pointer;
        color: gray;
        display: block;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    .shop-name {
      padding: 12px 0;
      font-size: 16px;
      font-weight: bold;
      border: solid 1px lightgray;
    }
    .notif-msg {
      height: 56vh;
      font-size: 24px;
      display: flex;
      align-items: center;
      p {
        margin: 0 auto;
      }
    }
    .bookmark-link {
      padding: 0 24px;
      font-size: 12px;
      text-align: right;
    }
  }
}

.shop-wrapper {
  .shop-header {
    border-top: solid 1px lightgray;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-wrap {
      width: 100%;
      .shop-name {
        font-size: 24px;
        font-weight: bold;
      }
      .shop-top-info {
        border-bottom: dotted 1px lightgray;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: gray;
        &__rate {
          display: flex;
          align-items: center;
          .star-rating {
            color: #ffcc33;
            font-size: 24px;
          }
          .shop-rating {
            padding: 0 8px;
            color: rgb(230, 0, 0);
            font-size: 24px;
            font-weight: bold;
          }
        }
        &__woms {
          padding: 0 8px;
        }
        &__bookmarks {
          padding: 0 8px;
        }
      }
      .shop-bottom-info {
        padding: 8px 0;
        font-size: 12px;
      }
    }
    .action-wrap {
      padding: 8px 16px;
      background-color: ivory;
      display: flex;
      align-items: center;
      #woms-count-0 {
        border: solid 1px lightgray;
        color: black;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          border: solid 1px orange;
          color: orange;
        }
        &:hover a {
          color: orange;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
      #users-count-0 {
        border: solid 1px lightgray;
        color: black;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          border: solid 1px orange;
          color: orange;
        }
        &:hover a {
          color: orange;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
      .action-btn {
        text-align: center;
        height: 32px;
        width: 96px;
        border: solid 1px orange;
        color: orange;
        background-color: white;
        border-radius: 4px;
        padding: 4px;
        margin: 4px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          color: orange;
          border: solid 1px orange;
        }
      }
    }
  }
  .shop-body {
    .shop-menu-bar {
      display: flex; 
      border-top: solid 1px lightgray;
      border-bottom: solid 1px lightgray;
      border-right: solid 1px lightgray;
      li.first-menu {
        background-color: gray;
        color: white;
      }
      .shop-menu {
        text-align: center;
        line-height: 48px;
        height: 48px;
        width: 25%;
        background-color: whitesmoke;
        border-left: solid 1px lightgray;
      }
    }
    .shop-content {
      padding: 20px 0;
      &__top {
        .shop-img {
          object-fit: cover;
          width: 640px;
          height: 360px;
          display: block;
        }
      }

    }
  }
}