// Shop一覧
.shop-list {
  padding-top: 24px;
  .shop {
    &:hover a .top-info__name {
      text-decoration: underline;
      color: orange;
    }
    &:hover div .bottom-info-left__top-cover {
      border: solid 1px orange;
    }
    .top-info {
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      border-top: solid 2px gray;
      border-bottom: solid 1px gray;
      padding: 0 16px;
      &__name {
        font-weight: bold;
      }
      &__area-genre {
        margin-left: 12px;
        font-size: 12px;
        color: black;
      }
      &__action {
        color: orange;
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        .action-icon {
          height: 32px;
          width: 48px;
          text-align: center;
          line-height: 36px;
          & span {
            font-size: 12px;
          }
          .user-count-0 {
            color: gray;
          }
          .clip-count-0 {
            color: gray;
          }
        }
        .action-icon-left {
          border-right: solid 1px lightgray;
        }
      }
    }
    .bottom-info {
      padding: 16px;
      display: flex;
      color: black;
      .bottom-info-left {
        &__top-cover {
          width: 146px;
          height: 146px;
          padding: 4px;
          border: solid 1px gray;
          .top-cover-img {
            object-fit: cover;
            width: 136px;
            height: 136px;
            margin: 0 auto;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        &__items {
          display: flex;
          margin-top: 4px;
          .cover-item {
            margin-right: 6px;
            .cover-item-img {
              object-fit: cover;
              width: 32px;
              height: 32px;
            }
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .bottom-info-right {
        font-size: 12px;
        padding: 8px 16px;
        &__overview {
          height: 32px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        &__rating {
          padding: 8px 0;
          display: flex;
          align-items: center;
          .star-rating {
            position: relative;
            display: inline-block;
            .filled-star {
              position: absolute;
              top: 0;
              left: 0;
              overflow: hidden;
              color: #ffcc33;
              white-space: nowrap;
            }
            .empty-star {
              color: #ccc;
            }
          }
          .shop-rating {
            padding: 0 8px;
            color: rgb(230, 0, 0);
            font-size: 20px;
            font-weight: bold;
          }
          .shop-wom-count {
            margin-left: 8px;
            color: gray;
            text-decoration: underline;
            i {
              margin-right: 4px;
            }
          }
        }
        &__top-wom {
          background-color: floralwhite;
          padding: 12px;
          .wom-info {
            display: flex;
            &__title {
              border-bottom: dotted 1px;
              font-weight: bold;
              margin-right: 8px;
            }
            &__user {
              color: gray;
              font-size: 9px;
            }
          }
          .wom-content {
            color: gray;
            padding: 8px 0;
          }
        }
      }
    }
  }
  & a {
    text-decoration: none;
  }
}
.no-history {
  padding: 32px 0;
}
.no-clip {
  padding: 32px 0;
}
// Shop詳細
.shop-wrapper {
  .shop-header {
    border-top: solid 1px lightgray;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .info-wrap {
      width: 100%;
      .shop-name {
        font-size: 24px;
        font-weight: bold;
      }
      .shop-top-info {
        border-bottom: dotted 1px lightgray;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: gray;
        &__rate {
          display: flex;
          align-items: center;
          .star-rating {
            color: #ffcc33;
            font-size: 24px;
          }
          .shop-rating {
            padding: 0 8px;
            color: rgb(230, 0, 0);
            font-size: 24px;
            font-weight: bold;
          }
        }
        &__woms {
          padding: 0 8px;
        }
        &__bookmarks {
          padding: 0 8px;
        }
      }
      .shop-bottom-info {
        padding: 8px 0;
        font-size: 12px;
        .shop-bottom-info-show {
          color: gray;
          margin-right: 16px;
        }
        .shop-genre {
          display: inline-block;
          .genre-list {
            display: flex;
          }
        }
      }
    }
    .action-wrap {
      padding: 8px 16px;
      background-color: ivory;
      display: flex;
      align-items: center;
      #woms-count-0 {
        border: solid 1px lightgray;
        color: gray;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          border: solid 1px orange;
          color: orange;
        }
        &:hover a {
          color: orange;
        }
        a {
          text-decoration: none;
          color: gray;
        }
      }
      #clip-count-0 {
        border: solid 1px lightgray;
        color: gray;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          border: solid 1px orange;
          color: orange;
        }
        &:hover a {
          color: orange;
        }
        a {
          text-decoration: none;
          color: gray;
        }
      }
      .action-btn {
        text-align: center;
        height: 32px;
        width: 96px;
        border: solid 1px orange;
        color: orange;
        background-color: white;
        border-radius: 4px;
        margin: 4px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          color: orange;
          border: solid 1px orange;
        }
        a {
          text-decoration: none;
          color: orange;
        }
        .action-link {
          height: 32px;
          width: 96px;
          padding: 4px;
          text-align: center;
          display: flex;
          align-items: center;
          .action-name {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
          }
        }

      }
    }
  }
  .shop-body {
    .shop-menu-bar {
      display: flex;
      border-top: solid 1px lightgray;
      border-bottom: solid 1px lightgray;
      border-right: solid 1px lightgray;
      .shop-menu {
        height: 48px;
        width: 25%;
        border-left: solid 1px lightgray;
        cursor: pointer;
        background: -moz-linear-gradient(bottom, whitesmoke, #FFF);
        background: -webkit-linear-gradient(bottom, whitesmoke, #FFF);
        background: linear-gradient(to top, whitesmoke, #FFF);
        &:hover {
          background: -moz-linear-gradient(top, whitesmoke, #FFF);
          background: -webkit-linear-gradient(top, whitesmoke, #FFF);
          background: linear-gradient(to bottom, whitesmoke, #FFF);
        }
        .shop-menu-link {
          height: 48px;
          width: 100%;
          text-decoration: none;
          color: black;  
          text-align: center;
          display: flex;
          align-items: center;
          .shop-menu-name {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
          }
        }
      }
      #selected-menu {
        background: none;
        background-color: gray;
        a {
          color: white;
        }
      }
    }
    .shop-content {
      padding: 20px 0;
      &__top {
        .shop-img {
          object-fit: cover;
          width: 640px;
          height: 360px;
          display: block;
        }
      }
      .shop-outline {
        padding: 24px;
      }
    }
  }
}

#modalWrap {
	display: none;
	background: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	overflow: hidden;
}
.modal-box {
	position: fixed;
	width: 85%;
	max-width: 420px;
	height: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	overflow: hidden;
	opacity: 1;
	display: none;
	border-radius: 3px;
	z-index: 1000;
}
.modal-inner {
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
}