* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: scroll;
  .main {
    .wrapper {
      max-width: $wrapper-max-width;
      min-width: $wrapper-min-width;
      width: 100%;
      margin: 0 auto;
      padding: 0 240px 0;
      .breadcrumbs {
        @include up-down-center;
        padding: 16px 0;
        font-size: $fSize-content;
        color: $color-no-action;
        & a {
          text-decoration: none;
          color: $link-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .ready-wrapper {
        padding: 32px;
      }
    }
  }  
}