.header {
  width: 100%;
  height: 96px;
  border-bottom: $border-style-inner;
  background-color: white;
  .header-wrapper {
    max-width: 1600px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 0 240px 0;
    &__top {
      @include up-down-center;
      justify-content: space-between;
      width: 100%;
      height: 40px;
      padding-top: 10px;
      .page-name {
        color: $menu-color-gray;
        font-size: $fSize-content;
      }
      .menu {
        @include up-down-center;
        position: relative;
        .menu-list {
          @include up-down-center;
          justify-content: flex-end;
          font-size: 14px;
          .menu-option {
            margin: 0px 10px;
          }
        }
        .user-nav {
          @include up-down-center;
          margin: 0px 8px 0px -4px ;
          color: $menu-color-gray;
          cursor: pointer;
          @include after-triangle;
          .user-nav-icon {
            width: 32px;
            height: 32px;
            margin-left: 10px;
            margin-right: 4px;
            border-radius: 6px;
            object-fit: cover;
            &:hover {
              opacity: $hover-opacity;
            }
          }
          .user-nav-popup {
            display: none;
            position: absolute;
            top: 34px;
            right: -76px;
            width: 128px;
            font-size: $fSize-content;
            border-top: $border-style-menu;
            border-left: $border-style-menu;
            border-right: $border-style-menu;
            box-shadow: $shadow-menu;
            .user-nav-option {
              height: 32px;
              line-height: 32px;
              border-bottom: $border-style-menu;
              background-color: gray;
              text-align: left;
              .option-link {
                @include up-down-center;
                width: 100%;
                height: 100%;
                padding-left: 16px;
                color: $menu-color-white;
                text-align: center;
                @include before-triangle;
              }
            }
          }
        } 
      }
    }
    &__bottom {
      width: 100%;
      height: 56px;
      .search-form {
        @include up-down-center;
        justify-content: space-between;
        width: 100%;
        font-size: $fSize-content;
        .app-icon-box {
          width: 160px;
          #header-icon {
            height: 56px;
            object-fit: cover;
          }
          & a:hover {
            text-decoration: none;
          }
        }
        .search-box {
          width: calc(100% - 160px);
          .search-container {
            @include up-down-center;
            min-width: 640px;
            width: 100%;
            margin: 0 auto;
            border: $border-style-default;
            border-radius: 4px;
            &__area {
              border-radius: 4px 0 0 4px;
            }
            &__keyword {
              border-right: none;
            }
            .search-content {
              width: calc((100% - 56px)/2);
              height: 36px;
              padding: 0 8px;
              border-top: none;
              border-bottom: none;
              border-left: none;
              border-right: $border-style-inner;
              outline: none;
              &:focus {
                border-bottom: solid 2px gray;
              }  
            }
            &__submit {
              width: 56px;
              height: 36px;
              border: none;
              border-radius: 0 3px 3px 0;
              outline: none;
              background-color: gray;
              color: white;
              cursor: pointer;
              &:hover {
                opacity: $hover-opacity;
              }
              &:focus {
                outline: solid 3px lightgray;
              }    
            }
          }
        }
      }
    }
    #search-result-hd {
      display: none;
      position: relative;
      z-index: 2;
      margin: -13px 0 0 0;
      border: $border-style-inner;
      box-shadow: 2px 2px 2px lightgray;
      background-color: white;
      .candidate-list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        .candidate {
          margin: 4px 8px;
          padding: 6px 8px;
          border: $border-style-candidate;
          background-color: whitesmoke;
          font-size: 8px;
          cursor: pointer;
          &:hover {
            opacity: 0.5;
          }
        }
        .no-result {
          margin: 0 8px;
          padding: 6px 12px;
          border: $border-style-candidate;
          background-color: whitesmoke;
          font-size: 8px;
        }
      }
    }
  
  
    a {
      text-decoration: none;
      color: $menu-color-gray;
      &:hover {
        text-decoration: underline;
      }
    }
  }  
}
