%p= "#{User.find_by(email: @resource.email).name} 様"

%p 登録メールアドレス： #{@resource.email}!
%p パスワードの再設定を行うには、以下のURLをクリックしてください。
%p= link_to 'パスワード再設定', edit_password_url(@resource, reset_password_token: @token)

%p ・パスワード変更を中止する場合は、何もする必要はありません。
%p ・上記URLで設定を完了するまで、パスワードは変更されません。

%p ※このメールにお心当たりがない場合は、下記までお問い合わせください。
%p サイト運営 masato_teshita/ Email: hogehoge@gmail.com