%meta{content: 'NOYDIR', name: 'ROBOTS'}
%meta{content: 'NOODP', name: 'ROBOTS'}
%link{media: 'handheld', rel: 'alternate'}

%meta{name: "viewport", content: "width: device-width, initial-scale: 1.0, maximum-scale: 1.0, user-scalable: 0, shrink-to-fit: no"}
%meta{name: "format-detection", content: "email=no,telephone=no,address=no"}
%meta{name: "msapplication-TileImage", content: image_url('favicon.ico') }
%meta{name: "msapplication-TileColor", content: "#F89174"}
%meta{name: "google", content: "notranslate"}

= display_meta_tags(default_meta_tags)